* { box-sizing: border-box; }
h1, h2, h3, h4 { margin: 12px 0; }
header { text-align: center; }
footer {
  margin: 32px auto 8px auto;
  padding-left: 16px;
}

.search {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding: 0;
}
.search__field {
  width: calc(100% - 32px);
  margin: 8px 16px 8px 16px;
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.apoiadores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.apoiadores__search-result {
  flex: 1 0 100%;
  display: flex;
  padding-left: 16px;
}
.apoiador {
  margin: 0 8px 16px 8px;
  display: flex;
  flex-direction: column;
}
.apoiador__picture {
  width: 160px;
  height: 160px;
  align-self: center;
  margin-bottom: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0, 0.15);
}
.apoiador__name {
  text-align: center;
  font-size: 16px;
}
