section
  h2 Lifecycle
  p
    small
      a(href="https://egghead.io/react-redux-cheatsheets" target="_blank")
        | React Cheat Sheet

  p.fragment
    small componentWillMount()
  p.fragment
    small componentDidMount()
  p.fragment
    small componentWillUpdate()
  p.fragment
    small componentDidUpdate()
