section
	h2 Nosso desafio
	br
	ul
		li.fragment Criar um Stateful Component
		li.fragment Criar Stateless Components
		li.fragment Fazer chamada à um serviço externo
		li.fragment Mapear e filtrar a resposta do serviço
