doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/intro.jade
				include ../slides/coding-dojo.jade
				include ../slides/nosso-desafio.jade
				include ../slides/oque-e.jade
				include ../slides/stateful.jade
				include ../slides/stateless.jade
				
		include inc/scripts
